@mixin cardsMixin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@mixin cardMixin {
  position: relative;
}

@mixin cardTextMixin {
  max-width: 265px;
  position: absolute;
  bottom: 32px;
  left: 28px;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  z-index: 2;
  transition: 0.3s all;
  cursor: pointer;
}

@mixin cardShadowMixin {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-blend-mode: multiply;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  min-height: 148px;
  left: 0;
}

@mixin backgroundImageMixin {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin formInputMixin {
  form {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 562px;
    height: 62px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    margin-top: 11px;
    padding: 18px 29px;
    font-size: 26px;
    color: $text;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #c4c4c4;
    }
  }

  button {
    width: 275px;
    background: $green-gradient;
    margin-top: 23px;
    align-self: flex-end;
  }
}

@mixin descrMixin {
  max-width: 290px;
  visibility: hidden;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  transition: 0.3s all;
  top: 130px;
}
