$green: #82b428;
$blue: #2da3dc;

$green-gradient: linear-gradient(147.64deg, #c5d210 13.56%, #82b428 85.54%);
$blue-gradient: linear-gradient(147.64deg, #8dceed 13.56%, #2da3dc 85.54%);

$text: #2b2422;
